.custom-margin {
    margin-left: 95px !important;
}

.custom-dropdown-toggle::after {
    display: none !important;
}

.custom-dropdown-toggle:hover {
    background-color: #6c757d !important;
    color: white !important;
}

.negative-margin {
    margin-top: -10px !important;
}